/* font */

/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #333333;
  background-color: #FEFAEC;
  margin:0px;
}

h1{
  font-family: 'Inter', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 48px;
  color: #649173;
}

h2{
  font-family: 'Inter', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #333333;
  font-size: 38px;
  font-weight: 700;
}

h3{
  font-family: 'Inter', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;  
  color: #333333;
  font-size: 28px;
  margin-bottom: 0;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;  
  font-size: 18px;
  color: #333333;
  font-weight: 700;
}
/* font(end)*/


/* Navigation(start) */
header {
  padding-top: 2rem;
}

#my_name {
 font-size: 24px;
 text-decoration: none;
 font-weight: 600;
 color: #333333;
}

.container_nav {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}


nav{
  display: table;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color:#333333;
}

nav a:hover,
nav a:focus {
  color: #649173;
  text-decoration: underline;
  text-underline-offset: 6px;
  /*Show underline on hover: https://stackoverflow.com/questions/22674633/text-that-shows-an-underline-on-hover*/
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-left:1em;
  margin-right:1em;
  line-height: 40px;
}

/* Navigation(end) */



.bio {
  width: 90%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.bio_text {
  width: 50%;
}

.body_text{
font-size: 18px;
line-height: 2rem;}


.strong_text {
  font-weight: 700;
}


.bio_image {
  width: 40%;
  border-radius: 20px;
}

#my_image {
    width: 100%;
    border-radius: 20px;
}


.interests {
  width: 90%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
}

#photo_container {
  display: flex;
  flex-wrap: wrap;
}

.hobby {
  width: 24%;
}

/* footer */

footer {
  margin-top: 6rem;
  background-color: #FEFAEC; 
  background-image: linear-gradient(#FEFAEC, #C8E9DB);
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.footer_container {
  text-align: center;
}

.links_image {
  width: 28px;
  margin: 1rem;
}

.in_text_link {
  color:#649173;
  text-decoration: none;
}

.in_text_link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}
  
.in_text_link:focus {
  text-decoration: underline;
  text-underline-offset: 4px;
}
  
/* footer (end) */

@media only screen and (min-width:300px) and (max-width:560px) {


}


@media only screen and (min-width:561px) and (max-width:942px) {


}


