/* font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');


body {
  font-family: 'Inter', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #333333;
  background-color: #FEFAEC;
  margin:0px;
}

h1{
  font-family: 'Inter', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 48px;
  color: #333333;
}

h2{
  font-family: 'Inter', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #333333;
  font-size: 38px;
  font-weight: 700;
}

h3{
  font-family: 'Inter', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;  
  color: #649173;
  font-size: 28px;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;  
  font-size: 18px;
  color: #333333;
  font-weight: 700;
}
/* font(end)*/



.container_content {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

section {
  margin-top: 2rem;
}


/* navigation bar */

#my_name {
  font-size: 24px;
  text-decoration: none;
  font-weight: 600;
  color: #333333;
 }
 
.container_nav {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}


nav{
  display: table;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color:#333333;
}

nav a:hover,
nav a:focus {
  color: #649173;
  text-decoration: underline;
  text-underline-offset: 6px;
  /*Show underline on hover: https://stackoverflow.com/questions/22674633/text-that-shows-an-underline-on-hover*/
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-left:1em;
  margin-right:1em;
  line-height: 40px;
}



header {
  text-align: center;
}

.sticky {
  position: sticky;
  top:0;
  background-color: #FEFAEC;
  text-align: center;
  z-index: 400;
  justify-content: center;
}




nav a:hover, nav a:focus {
  text-decoration: none;
}


.image_link {
  max-width: 30%;
  display: block;
}

.image_link:hover {
  opacity:0.7; 
}

.image_link:focus {
  opacity:0.7;
}

li {
  margin-bottom: 1rem;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.in_text_link_section {
  width: 45%;
  padding-bottom: 2rem;
}

.in_text_link {
  color:#649173;
  text-decoration: none;
}
  
.in_text_link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}
  
.in_text_link:focus {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.nav_link_section{
  width: 45%;
  padding-bottom: 2rem;
}


/* navigation link (start) */
nav{
  display: table;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color:#333333;
}

nav a:hover,
nav a:focus {
  color: #649173;
  text-decoration: underline;
  text-underline-offset: 6px;
  /*Show underline on hover: https://stackoverflow.com/questions/22674633/text-that-shows-an-underline-on-hover*/
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-left:1em;
  margin-right:1em;
  line-height: 40px;
}
/* navigation link (end) */


/* buttons (start) */

.view_work {
  padding: 10px 24px;
  font-size: 16px;
  text-decoration: none;
  color: #649173;
  background-color: transparent;
  border-style: none;
  border-radius: 50px;
  outline: #649173 1px solid;
  cursor: pointer;
}

.view_work:hover {
  color: #ffffff;
  background-color: #649173;
  outline: #649173 1px solid;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

/* buttons */

.back-icon {
  width: 16px;
}
  
.in-text-link {
  color:#b86646;
  text-decoration: none;
}
  
.in-text-link:hover {
  color:#d79258
}
  
.in-text-link:focus {
  color:#d79258
}
  

/* buttons (end) */


.button_section {
  max-width: 900px;
  padding-bottom: 2rem;
}


.text_field_section {
  max-width: 900px;
  padding-bottom: 2rem;
}


.image_as_link_section {
  max-width: 900px;
  padding-bottom: 2rem;
}

.mug {
  max-width: 100%;
  display: block;
}

/* 
  TEXT ELEMENTS -------------------
*/

.heading_section {
  max-width: 900px;
  padding-bottom: 2rem;
}


.body_text{
  font-size: 18px;
  line-height: 2rem;}

.strong_text {
  font-weight: 700;
}
  

.paragraph_section {
  max-width: 900px;
  padding-bottom: 2rem;

}


.numbered_list_section {
  max-width: 900px;
  padding-bottom: 2rem;

}

/* 
  COMBINED ELEMENTS -------------------
*/

.main_nav_section {
  max-width: 900px;
  padding-bottom: 2rem;

}

/* product cards */

.container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left:auto;
  margin-right:auto;
  max-width: 900px;

}


.card:hover{
  box-shadow: 0 4px 16px #efd5c9;
  transform: translate(0px,-8px);
}


.card {
  width: 28%;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 16px #efedec;
  transition: .4s;
  margin: 0.5rem;
  text-align: center;
}


.mug {
  max-width: 250px;
  min-width: 200px;
  min-height: 200px;
  position:relative;
  margin:0 auto;
  display: block;
  text-align: center;  
}

.mug:hover {
  opacity:0.7; 
}

.mug:focus {
  opacity:0.7;
}


.product_list_section {
  max-width: 900px;
  padding-bottom: 2rem;
}

.add_to_cart {
  height: 40px;
  width: 120px;
  font-size:14px;
  font-weight: 600;
  color: #b86646;
  background-color: #ffffff;
  border:1px solid #b86646;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

.add_to_cart:hover {
  background-color:#b86646;
  transition-property: background-color; 
  transition-duration: 0.5s;
  color:#ffffff;
  cursor: pointer;
}

/* product card (end) */

#payment-form {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgb(228, 226, 225);
  max-width: 540px;
}

.payment_form_section {
  max-width: 800px;
  padding-bottom: 2rem;
}

#payment-form-title {
  font-size: larger;
  font-weight: bolder;
  margin-bottom:1rem;
}

#radio {
  margin-bottom: 2rem;
}




.payment-method {
  margin-right:2rem;
}


#checkout_section {
  max-width: 800px;
  padding-bottom: 2rem;

}

.checkout_cart {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgb(228, 226, 225);
  max-width: 800px;
  margin-top: 1.5rem;
}

.cart_image {
  height: 100px;
}

.cart_item1 {
  display:flex;
  margin-bottom: 1rem;
}


.cart_item1_image {
  flex:1
}

.cart_item1_name {
  flex:3
}

.cart_item1_price {
  flex:1;
  text-align: right;
}

.cart_item1_amount {
  flex:1;
  text-align: right;
}


.cart_item2 {
  display:flex;
  margin-bottom: 1rem;
}


.cart_item2_image {
  flex:1
}

.cart_item2_name {
  flex:3
}

.cart_item2_price {
  flex:1;
  text-align: right;
}

.cart_item2_amount {
  flex:1;
  text-align: right;
}

.total {
  border-top: 1px #E3D0B5 solid;
  padding-top: 1rem;
  display:flex;
}

.total-amount {
  flex:2
}

.total-price {
  flex:1;
  text-align: right;
}

/* 
  BRANDING IDEAS -------------------
*/
#branding_ideas {
  max-width: 800px;
}


.user_images {
  display: flex;
}

#user1 {
  max-width: 50%;
}

#user2 {
  max-width: 50%;
}

#logo {
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* 
  BRANDING COMPONENTS -------------------
*/
#branding_components {
  max-width: 900px;
}

.color_palettes div{
  padding:2rem;
  margin-top:1rem;
}


#palette1 {
  background-color: #E3D0B5;
  font-weight: bolder;
}

#palette2 {
  background-color: #B86646;
  font-weight: bolder;
  color:#ffffff;
}


#palette3 {
  background-color: #7C6354;
  font-weight: bolder;
  color:#ffffff;
}

#palette4 {
  background-color: #635B50;
  font-weight: bolder;
  color:#ffffff;
}

#palette5 {
  background-color: #3b3431;
  font-weight: bolder;
  color:#ffffff;
}

.text-under-palettes {
  font-weight: 200;
}

#moodboard {
  max-width: 100%;  
  display: block;
}

#icons {
  max-width: 100%;  
  display: block;
}

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-image {
  width: 400px;
}


#page-structure {
  max-width: 100%;  
  display: block;
}

#citations {
  max-width: 800px;
}


@media only screen and (min-width:300px) and (max-width:560px) {
 
  .cart_image {
    height: 56px;
  }

  .card {
    width: 100%;
  }

  .mug {
    max-width: 96%;
    min-width: 228px;
    min-height: 228px;
    margin:0 auto;
    display: block;
    text-align: center;  
  }
}

@media only screen and (min-width:561px) and (max-width:942px) {

  .card {
    width: 40%;
    position: relative;
  }


  .mug {
    max-width: 96%;
    min-width: 228px;
    min-height: 228px;
    margin:0 auto;
    display: block;
    text-align: center;  
    object-fit:cover;
    object-position: top center;
  }


}
