/* font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');


body {
  font-family: 'Inter', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #333333;
  background-color: #FEFAEC;
  margin:0px;
}

h1{
  font-family: 'Inter', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 48px;
  color: #333333;
}

h2{
  font-family: 'Inter', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #333333;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 6rem;
}

h3{
  font-family: 'Inter', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;  
  color: #649173;
  font-size: 28px;
  margin-top: 0;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;  
  font-size: 18px;
  color: #333333;
  font-weight: 700;
}
/* font(end)*/




.container_content {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

section {
  margin-top: 2rem;
}


nav{
  display: table;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color:#333333;
}

nav a:hover,
nav a:focus {
  color: #649173;
  text-decoration: underline;
  text-underline-offset: 6px;
  /*Show underline on hover: https://stackoverflow.com/questions/22674633/text-that-shows-an-underline-on-hover*/
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-left:1em;
  margin-right:1em;
  line-height: 40px;
}



header {
  text-align: center;
}


/* navigation bar */
.navigation {
 padding-top: 0.5rem;
}

.sticky {
  position: sticky;
  top:0;
  background-color: #FEFAEC;
  z-index: 400;
  display: flex;
  justify-content: center;
  width: 100%;
}


li {
  margin-bottom: 1rem;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

.section1_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
}

/* in_text_link */

.in_text_link_section {
  width: 26vw;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 20px;
}

.in_text_link {
  color:#649173;
  text-decoration: none;
}
  
.in_text_link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}
  
.in_text_link:focus {
  text-decoration: underline;
  text-underline-offset: 4px;
}


/* navigation_link */

.nav_link_section{
  width: 26vw;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 20px;
}


/* buttons (start) */

.view_work {
  padding: 10px 24px;
  font-size: 16px;
  text-decoration: none;
  color: #649173;
  background-color: transparent;
  border-style: none;
  border-radius: 50px;
  outline: #649173 1px solid;
  cursor: pointer;
}

.view_work:hover {
  color: #ffffff;
  background-color: #649173;
  outline: #649173 1px solid;
  cursor: pointer;
  transition: all .4s ease-in-out;
}


.button_section {
  width: 26vw;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 20px;
}
/* buttons (end) */


.image_as_link_section {
  width: 26vw;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 20px;
}

.image_link {
  max-width: 30%;
  display: block;
}

.image_link:hover {
  opacity:0.7; }

.image_link:focus {
  opacity:0.7;}

/* 
  TEXT ELEMENTS -------------------
*/

.heading_section {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 2rem;
}

.heading_section h2 {
  margin-top: 0;
}

.heading_section h3 {
  margin-top: 1rem;
  color: #333333;
}

.body_text{
  font-size: 18px;
  line-height: 2rem;}

.strong_text {
  font-weight: 700;
}
  
.paragraph_section {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 2rem;
}


/* 
  COMBINED ELEMENTS -------------------
*/

.main_nav_section {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 2rem;
}

#my_name {
  font-size: 24px;
  text-decoration: none;
  font-weight: 600;
  color: #333333;
 }

.container_nav {
  max-width: 90%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

/*work navigation*/

.work_navigation_section {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 2rem;
}

.work_navigation {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.work_navigation a {
  text-decoration: none;
  color: #649173;
  font-size: 18px;
  font-weight: 500;
}

.work_navigation a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;

}

.work_navigation a:focus {
  text-decoration: underline;
  text-underline-offset: 6px;

}

/* project listing (start) */

.project_list_section {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 2rem;
}

.works_collection {
  padding: 1rem;
  border-radius: 20px;
  margin-top: 2rem;
}

.work {
  display: flex;
  margin-bottom: 2rem;
}

.work_image {
  width: 36vw;
  border-radius: 20px;
}

#work_image3 {
  border: #e6e6e6 solid 1px;
}

.work_text {
  margin-left: 4vw;
  width: 36vw;
}

.work_text h3 {
  color: #333333;
}

.work_intro {
  font-size: 18px;
  line-height: 2rem;
  margin-top: -0.5rem;
}
/* product card (end) */



/* 
  BRANDING IDEAS -------------------
*/

.element {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}


/* 
  BRANDING COMPONENTS -------------------
*/

.color_palettes div{
  padding:2rem;
  margin-top:1rem;
}


#palette1 {
  background-color: #C8E9DB;
  font-weight: bolder;
}

#palette2 {
  background-color: #FEFAEC;
  font-weight: bolder;
  color:#333333;
}


#palette3 {
  background-color: #649173;
  font-weight: bolder;
  color:#ffffff;
}

#palette4 {
  background-color: #333333;
  font-weight: bolder;
  color:#ffffff;
}

#palette5 {
  background-color: #888888;
  font-weight: bolder;
  color:#ffffff;
}

.text-under-palettes {
  font-weight: 200;
}

#citations {
  margin-bottom: 6rem;
}
